<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=/style.css>
    <title>🦈 Thresher EMS Solutions</title>
</head>
<body>

<h1>🦈 Thresher EMS Solutions</h1>


<section>
    Project Name: <br>
    <%=project.projectName%>
</section><br>
<section>
    Created By: <br>
    <%=project.createdBy%>
</section><br>
<section>
    Created On: <br>
    <%=project.createdAt%>
</section><br>
<section>
    Updated On: <br>
    <%=project.updatedAt%>

    <br><br>

</section>

<section>
    <a href="/projects/<%= project._id %>/edit">Edit</a><br><br>
</section>

<div>

<% for (let i = 0; i < project.bom[0].mfgPnBom.length; i++)  { %>  

    <%console.log(project.bom)   %> 

    <%console.log(project.bom[0].mfgPnBom.length)  %>

   mfg Pn  <br> <%= project.bom[0].mfgPnBom[i] %>  <br>
   party qty  <br> <%= project.bom[0].partQtyBom[i] %> <br>
   internal pn  <br> <%= project.bom[0].internalPnBom[i] %> <br>
   <br><br>
 
 
 
 
 
<%  }  %>


</div>

<form action="/price/<%= project._id %>" method="POST">

    <input type="hidden" id="prj-name" name="projectName" value="<%= project.projectName%>" size="24"><br><br>
    
    <input type="hidden" id="createdBy" name="createdBy" value="<%=currentLoggedInUser%>">

<% for (let i = 0; i < 10; i++) { %> 

    <div class="abc">
        <div class="def">
            <div class="neat">
                <input type="hidden" name="bom[mfgPnBom]" value="<%=project.bom[0].mfgPnBom[i]%>">
            </div>
            <div class="nifty">
                <input type="hidden" name="bom[partQtyBom]" value="<%=project.bom[0].partQtyBom[i]%>">
            </div>
            <div class="nerfty">
                <input type="hidden" name="bom[internalPnBom]" value="<%=project.bom[0].internalPnBom[i]%>">
            </div>
        </div>
    </div>
    
    <% }  %>

    <input type="submit" value="Get Pricing">


</form>

</body>
</html>