<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=/style.css>
    <title>🦈 Thresher EMS Solutions</title>
</head>
<body>

<h1>🦈 Thresher EMS Solutions</h1>


<section>
    Project Name: <br>
    <%=project.projectName%>
</section><br>
<section>
    Created By: <br>
    <%=project.createdBy%>
</section><br>
<section>
    Created On: <br>
    <%=project.createdAt%>
</section><br>
<section>
    Updated On: <br>
    <%=project.updatedAt%>

    <br><br>

</section>




<%console.log(project)%>

<% for (let i = 0; i < project.mfgPn.length; i++)  { %>   
    <%= project.mfgPn[i] %><br>
    <%= project.partQty[i] %><br>
    <%= project.internalPn[i] %><br>
    <br><br>



<%  }  %>
    
</body>
</html>